/* Footer */
footer {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

/* Footer content */
.foot-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
  font-weight: lighter;
}

.copyright-name {
  margin-left: 0.2rem;
  font-weight: 400;
  color: var(--bs-success);
}

.copyright-name:hover {
  color: var(--bs-teal);
}
