.navbar-brand {
    margin-left: 1rem;
    color: var(--bs-success) !important;
}

.nav-items {
    margin-left: 3rem;
}
.main-nav-item {
    margin-right: 3rem;
}

.nav-link:hover {
    color: var(--bs-success)!important;
}



.dropdown-menu {
    text-align: center;
    width: 2rem;
}
.dropdown-menu .dropdown-item {
    margin-right: 3rem;
}
.dropdown-menu .dropdown-item:hover {
    background-color: var(--bs-success);
    color: var(--bs-light);
}
